
.button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI";
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0.5, 0, 0);
}

/* currently not being used, was just for testing css on buttons and it worked */