.button-default {
    -fx-background-color: #4ab4e1; /* Default background color */
    -fx-text-fill: #eae4e4; /* Default text color */
    -fx-border-radius: 5;
    -fx-border-color: transparent; /* No border color initially */
}

.button-default:hover {
    -fx-text-fill: black; /* Highlight text color */
    -fx-border-color: black; /* Border color on hover */
}

.menu-button-default {
    -fx-background-color: #4ab4e1; /* Default background color */
    -fx-text-fill: #e4dbdb; /* Default text color */
    -fx-border-color: transparent; /* No border color initially */
}

.menu-button-default:hover {
    -fx-text-fill: black; /* Highlight text color */
    -fx-border-color: black; /* Border color on hover */
}